* {
    box-sizing: border-box;
}

:root {
    --col-action-text: #2A7AE4;
    --col-body-bg: #FFFFFF;
    --col-footer-bg: #EAF2FD;
    --col-main-bg: #E5E5E5;
    --col-main-text: #464646;
    --col-search-bg: #F5F5F5;
    --col-input-ph: #A2A2A2;
}


body {
    background-color: var(--col-body-bg) ;
    color: var(--col-text-main);
    font-family: 'Raleway', sans-serif;    
}

a {
    text-decoration: none;
}

.head {
    background-color: var(--col-body-bg);
    padding: 1rem;
}

@media (min-width: 768px) {
    .head {
        padding: 1rem 2rem;
    }
}

@media (min-width: 1224px) {
    .head {
        padding: 2rem 9.5rem;
    }
    
}